
.photos-section{
  padding-top: 50px;
  padding-bottom: 5rem;
  background: linear-gradient(to bottom, #{fade-out($black, .2)} 0%,$gray-100 100%);

  .container-fluid{
    max-width: 80%;

    img{
      max-width: 100%;
      margin: 0px;

    }
  }

  hr{
    border-color: $primary;
    border-width: .5rem;
    width: 30%;
    margin-left:35% !important;
  }
}

.about-section {
  padding-top: 0rem;
  background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%);
  
  /*overflow: hidden;*/

  .container-fluid{
    max-width: 2048px;
  }
  
  .about-section-1{
    /*position: relative;*/
    min-height: 100vh;
    
    margin: 0 1rem;

    .about-section-text-1{
      /*position: absolute; 
      top: 0;
      left: 0%;
      width: 47%;*/
      max-width: 1024px;
      text-align: left;
      /*background-color: rgba(68, 68, 68, 0.9);*/
      /*padding: 0 30px;*/

      /*margin-bottom: 4rem;
      margin-top: 0;*/
      padding: 0 1rem;
    }

    .about-section-text-2{
      position: absolute; 
      bottom: 0;
      right: -150px;
      width: 50%;
      text-align: left;
      background-color: rgba(68, 68, 68, 0.9);
      padding: 30px;

      margin-bottom: 4rem;
      margin-top: 4rem;

    }

    p {
      margin-bottom: 2rem;
      margin-top: 1rem;
      text-align: left;
    }

  }

  h2{
    
    max-width: 300px;
    border-bottom: 0.2rem solid $primary;
    padding-bottom: 5px;
    text-align: left;
    margin: 0 2rem;
  }
  
  p {
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-align: left;
  }
  
}
