.scrollnav{
  img.nav-link{
    filter: grayscale(1);
    transition: filter 1.5s;
    padding: 0;
    &.active{
      filter: grayscale(0.3);
    }
  }

}

#mainNav {
  min-height: 56px;
  visibility: hidden;
  /*background-color: $white;*/
  /*display: none;*/
  transition: background-color .3s ease-in-out;
  .nav-container{
    width: 100vw;
    display: flex;
  }
  .navbar-toggler {
    display: none;
    font-size: 80%;
    padding: 0.75rem;
    color: $primary;
    border: 1px solid $primary;
    &:focus {
      outline: none;
    }
  }
  .navbar-brand {
    color: $black;
    font-weight: 700;
    padding: .9rem 0;
  }
  .navbar-nav {
    padding: 0 50px;
    .nav-item {
      &:hover {
        color: fade(white, 80%);
        outline: none;
        background-color: transparent;
      }
      &:active,
      &:focus {
        outline: none;
        background-color: transparent;
      }
    }
  }
  @media (min-width: 992px) {
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    .navbar-brand {
      padding: .5rem 0;
      color: fade-out($white, .5);
    }
    .nav-link {
      transition: none;
      padding: 2rem 1.5rem;
      color: fade-out($white, .5);
      &:hover {
        color: fade-out($white, .25);
      }
      &:active {
        color: white;
      }
    }
    &.navbar-shrink {
      /*background-color: $white;*/
      visibility: visible;
      .navbar-brand {
        color: $black;
      }
      .nav-link {
        color: $black;
        padding: 0.25rem 0.75rem 0.75rem;
        /*border-bottom: 0.25rem solid transparent;*/
        border-left: .25rem solid #dadada;
        transition: all 0.3s ease;
        &:hover {
          color: darken($primary, 15%);
          border-left: .25rem solid darken($primary, 15%);
        }
        &:active {
          color: darken($primary, 15%);
        }
        &.active {
          color: $primary;
          outline: none;
          /*border-bottom: 0.25rem solid $primary;*/
          border-left: .25rem solid $primary;
          padding: 1.25rem 0.75rem 0.75rem;
        }
      }
    }
  }
}
